@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">TruNet Property Management</h1>
    <img src="~/images/pexels-energepiccom-175039.jpg" alt="Repair Image" style="width: 50%;"/>
</div>
